body {
  background-color: #555;
}

p {
  color: #000;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.875em;
}

.page-header {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5em;
  text-align: center;
  vertical-align: middle;
  margin: auto;

}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #fff;
  text-decoration: none;
}

.byline {
  color: #FFF;
  background-color: #000;
  font-size: 0.875em;
  font-variant: small-caps;
}
