{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Text Analysis Advanced</title>
  <!--- BOOTSTRAPPE --->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!--- STATIC FILES --->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'javascript/scripts.js' %}"></script>

</head>

<body>

  <div class="container">
    <div class="page-header">
      <h1><a href="/">Text Analysis Advanced</a></h1>
    </div>
    <div class="row">
      <!--- various views rendered here --->
      {% block content %} {% endblock %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="byline">
        © 2017 ranesi | <a href="https://github.com/ranesi">GitHub</a> | <a href="mailto:ranesi@acm.org">email</a>
      </div>
    </div>
  </div>

</body>

</html>
