{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Text Analysis Advanced</title>
  <!--- BOOTSTRAPPE --->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!--- STATIC FILES --->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'javascript/scripts.js' %}"></script>

</head>

<body>

  <div class="container">

    <div class="row">

      <div class="col-sm-12">

        <h1>Text Analysis Advanced</h1>

      </div>

    </div>

    <div class="row">

      {% block content %} {% endblock %}

    </div>

  </div>

</body>

</html>
